$primaryColor: #4b453d;
$primaryTextColor:#ffffff;

$logoBgColor:#42A5F5;
$topbarBgColor:#4b453d;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#64b5f6;
$lightMenuitemActiveTextColor:#4b453d;
$darkMenuitemActiveTextColor:#4b453d;
$horizontalMenuitemActiveBgColor:#4b453d;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#4b453d;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
